.container
    div(ng-hide='$root.client.torrents.length != 0', style='vertical-align: middle; text-align: center')
        .row
            form.no-margin(ng-submit='addMagnet()')
                label Enter magnet, hash or http(s) .torrent
                input(type='text', placeholder='magnet, hash or http(s) .torrent', ng-model='torrentInput', ng-disabled='$root.disabled', style='width: 50%')
            //button(ng-click='addMagnet()', ng-disabled='!torrentInput.length || $root.disabled', ng-class='{"button-primary": torrentInput.length}')
                i.fa.fa-download
                |  Download
        .row
            label or...
            button(type='file', ngf-select='$root.openTorrentFile($file)', ng-disabled='$root.disabled', ng-class='{"button-primary": !$root.disabled}')
                i.fa.fa-folder-open
                |  Open torrent file
    .div(ng-if="selectedTorrent", style="text-align: center")
        .row(style='overflow: auto')
            h3 {{$root.selectedTorrent.name}}
            h4 {{$root.selectedTorrent.length | pbytes}}
            h4 {{$root.selectedTorrent.progress | progress}}
            h4 {{$root.selectedTorrent.downloadSpeed | pbytes:1}} {{$root.selectedTorrent.timeRemaining | humanTime}}
        .row
            h5 Files
            table(style="margin: auto")
                thead
                    tr
                        th Name
                        th Size
                        th Priority
                tbody
                    tr.files(ng-repeat='file in $root.selectedTorrent.files')
                        td(ng-hide='file.done') {{file.name}}
                        td(ng-show='file.done')
                            a(ng-href='{{file.url}}', download='{{file.name}}', target='_self', ng-show='file.done') {{file.name}}
                        td {{file.length | pbytes}}
                        td
                            select.no-margin(name='{{file.name}}Priority', ng-model='file.priority', ng-init='file.priority = "0"', ng-change='$root.changePriority(file)')
                                option(value='1') High Priority
                                option(value='0' selected='') Low Priority
                                option(value='-1') Don't download
        .row
            h5 Share
            ul(style="text-align: justify")
                li
                    a(ng-href='#{{$root.selectedTorrent.infoHash}}', target='_blank') βTorrent
                li
                    a(ng-href='{{$root.selectedTorrent.magnetURI}}', target='_blank') Magnet URI
                li
                    a(ng-href='{{$root.selectedTorrent.safeTorrentFileURL}}', target='_self', download='{{$root.selectedTorrent.fileName}}') .torrent
                li
                    strong Hash: 
                    | {{$root.selectedTorrent.infoHash}}