.container
    .row
        .four.columns
            input.u-full-width(type="text" placeholder="magnet, hash or http(s) .torrent" ng-model="torrentInput" ng-disabled="$root.disabled")
        .two.columns.download-button
            button(ng-click="addMagnet()" ng-disabled="!torrentInput.length || $root.disabled" ng-class="{'button-primary': torrentInput.length}")
                i.fa.fa-download
                |  Download
        .three.columns
            button(type="file" ngf-select="$root.openTorrentFile($file)" ng-disabled="$root.disabled" ng-class="{'button-primary': !$root.disabled}")
                i.fa.fa-folder-open
                |  Open torrent file
        .three.columns.u-pull-right
            button.u-pull-right(ngf-select="$root.seedFiles($files)" multiple="" ng-disabled="$root.disabled" ng-class="{'button-primary': !$root.disabled}")
                i.fa.fa-upload
                |  Seed files
    .row.grid(ui-grid="gridOptions" ui-grid-resize-columns, ui-grid-selection)
    .row(ng-if="selectedTorrent")
        .six.columns(style="overflow: auto")
            h5 {{$root.selectedTorrent.name}}  
                button(ng-if="!$root.selectedTorrent.swarm.paused" ng-click="$root.selectedTorrent.pause()")
                    i.fa.fa-pause
                    |  Pause
                |  
                button(ng-if="$root.selectedTorrent.swarm.paused" ng-click="$root.selectedTorrent.resume()")
                    i.fa.fa-play
                    |  Resume
                |  
                button.button-danger(ng-click="$root.selectedTorrent.destroy($root.destroyedTorrent)")
                    i.fa.fa-times
                    |  Remove
            h6 Share
            ul
                li
                    a(ng-href="#{{$root.selectedTorrent.infoHash}}" target="_blank") βTorrent
                li
                    a(ng-href="{{$root.selectedTorrent.magnetURI}}" target="_blank") Magnet URI
                li
                    a(ng-href="{{$root.selectedTorrent.safeTorrentFileURL}}" target="_self" download="{{$root.selectedTorrent.fileName}}") .torrent
                li
                    strong Hash: 
                    | {{$root.selectedTorrent.infoHash}} 
        .six.columns
            h5 Files
            table.u-full-width
                thead
                    tr
                        th Name
                        th Size
                        th Priority
                tbody
                    tr.files(ng-repeat="file in $root.selectedTorrent.files")
                        td(ng-hide="file.done") {{file.name}}
                        td(ng-show="file.done")
                            a(ng-href="{{file.url}}" download="{{file.name}}" target="_self" ng-show="file.done") {{file.name}}
                        td {{file.length | pbytes}}
                        td
                            select.no-margin(name="{{file.name}}Priority" ng-model="file.priority" ng-init="file.priority = '0'" ng-change="$root.changePriority(file)")
                                option(value="1") High Priority
                                option(value="0" selected="") Low Priority
                                option(value="-1") Don't download
    .center
        strong Client Stats: 
            | ↓ {{$root.client.downloadSpeed | pbytes}}/s · 
            | ↑ {{$root.client.uploadSpeed | pbytes}}/s · 
            | Ratio: {{$root.client.ratio | number:2}}