doctype html
html(ng-app='bTorrent', lang='en')
    head
        base(href='')
        meta(charset='UTF-8')
        title βTorrent: Browser WebTorrent Client
        meta(name='description', content='βTorrent: fully-featured Browser WebTorrent Client')
        meta(name='keywords', content='βTorrent, btorrent, client, webtorrent, browser, torrent, stream, bittorrent')
        meta(name='author', content='Diego Rodríguez Baquero - DiegoRBaquero')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='bower_components/skeleton/css/normalize.css')
        link(rel='stylesheet', href='bower_components/skeleton/css/skeleton.css')
        link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='bower_components/font-awesome/fonts/fontawesome-webfont.ttf')
        link(rel='stylesheet', href='style.css')
    body
        header
            h1
                | βTorrent
                span.version  v0.5.03
        .container(ng-controller='bTorrentCtrl', ng-cloak='')
            .row
                .twelve.columns
                    .row
                        .three.columns
                            input#magnetLinkInput.u-full-width(type='text', placeholder='magnet link or hash', ng-model='magnetLinkInput')
                        .three.columns
                            button.button-secondary(ng-click='addByMagnet()', ng-disabled="!magnetLinkInput")
                                | Add Magnet Link
                        .four.columns
                            button.button-primary(ngf-select='uploadTorrent($file)')
                                i.fa.fa-upload
                                |  Add Torrent File
                        .two.columns.u-pull-right
                            label.u-pull-right
                                .button(ngf-select='uploadSeed($file)')
                                    i.fa.fa-upload
                                    |  Seed a file
                                    
                    .row
                        .eight.columns 
                            label 
                                i.fa.fa-pie-chart 
                                |  Ratio: {{client.ratio}}
                        .two.columns.u-pull-right
                            label.u-pull-right
                                i.fa.fa-arrow-down
                                |  {{client.downloadSpeed() | pbytes}}/s
                        .two.columns.u-pull-right
                            label.u-pull-right
                                i.fa.fa-arrow-up
                                |  {{client.uploadSpeed() | pbytes}}/s
                    table.u-full-width
                        thead
                            tr
                                th Name
                                th(ng-hide='client.done()') Downloaded
                                th(ng-hide='client.done()') Remaining
                                th(ng-hide='client.downloading()') Uploaded
                                th Peers
                                th Share
                                th Actions
                        tbody(ng-hide='client.torrents.length')
                            tr
                                td.center(colspan='100') Add a torrent or seed a file!
                        tbody(ng-repeat='torrent in client.torrents', ng-if='torrent.name')
                            tr.torrentRow(ng-class='{selectedTorrent: torrent.showFiles}')
                                td
                                    div
                                        i.fa.fa-cloud-download(ng-hide='torrent.done')
                                        i.fa.fa-check(ng-show='torrent.done')
                                        |  {{torrent.name}}
                                    span.subInfo
                                        | {{torrent.pSize | pbytes}} in 
                                        a(href='#', onclick='return false;', ng-click='toggleTorrent(torrent)') {{torrent.files.length}} files
                                td(ng-hide='client.done()')
                                    | 
                                    span.subInfo ({{(100 * torrent.progress).toFixed(1)}}%)
                                    br
                                    span.subInfo @ {{torrent.downloadSpeed() | pbytes}}/s
                                td(ng-hide='client.done()')
                                    | {{torrent.tRemaining}}
                                td(ng-hide='client.downloading()')
                                    | {{torrent.uploaded | pbytes}}
                                    br
                                    span.subInfo @ {{torrent.uploadSpeed() | pbytes}}/s
                                td {{torrent.numPeers}}
                                td
                                    a(ng-href='#{{torrent.infoHash}}', target='_blank')
                                        | βTorrent
                                    | 
                                    a(ng-href='{{torrent.magnetURI}}', target='_blank')
                                        | Magnet URI
                                    | 
                                    a(ng-href='{{torrent.oTorrentFileURL}}', target='_blank', download='{{torrent.fileName}}')
                                        | .torrent
                                    br
                                    span.subInfo
                                        i.fa.fa-hashtag
                                        | {{torrent.infoHash}}
                                td
                                    i.fa.fa-trash(ng-click='client.processing = true; client.remove(torrent, destroyedTorrent)')
                                    i.fa.fa-pause(ng-if='!torrent.paused' ng-click='torrent.pause()')
                                    i.fa.fa-play(ng-if='torrent.paused' ng-click='torrent.resume()')
                            tr(ng-show='torrent.showFiles')
                                td.files(colspan='100')
                                    .row
                                        .two.columns.center
                                            i.fa.fa-file
                                            strong  Files:
                                        .ten.columns.fix-height
                                            ul.no-margin
                                                li(ng-repeat='file in torrent.files')
                                                    span(ng-hide='file.done') {{file.status}}: {{file.name}}
                                                    a(href='{{file.url}}', download='{{file.name}}', target='_blank', ng-show='file.done') {{file.name}}
                                                    span.subInfo  {{file.pSize | pbytes}}
                        tbody(ng-show='client.processing')
                            tr
                                td.center(colspan='100') Please wait a few seconds!
        footer
            | Made in Bogotá, Colombia by 
            a(href='http://diegorbaquero.com') DiegoRBaquero
            br
            small
                | Powered by 
                a(href='https://webtorrent.io') WebTorrent
            br
            small
                | Source available 
                a(href='https://github.com/diegorbaquero/BTorrent') on Github
            p
        script(type="text/ng-template" id="create-modal.html")
            .modal-header
                h3.modal-title I'm a modal!

            .modal-body
                ul
                    li(ng-repeat="item in items")
                        a(href="#", ng-click="$event.preventDefault(); selected.item = item") {{ item }}
                | Selected: 
                b {{ selected.item }}

            .modal-footer
                button.btn.btn-primary(type="button", ng-click="ok()") OK
                button.btn.btn-warning(type="button", ng-click="cancel()") Cancel

        script(src='bower_components/webtorrent/webtorrent.min.js')
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/ng-file-upload/ng-file-upload-shim.js')
        script(src='bower_components/ng-file-upload/ng-file-upload.js')
        script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
        script(src='bower_components/moment/moment.js')
        script(src='bower_components/normalize-strings/normalize.js')
        script(src='app.js')
